<h1>Create New User</h1>
<%= hidden_field_tag( "page_name", "admin", :id => "page_name") %>
<% if current_user.has_role? :admin %>
    <%= render "form", :user => @newuser %>
<% else %>
    Only Administrators Can Create A New User...
<% end %>
