<div ng-controller="ContactIndexCtrl">

  TODO this form is never used and is not complete...

  <h1>Listing contacts [{{contacts.length}}]</h1>
  <!--<button ng-click="createContact()">Add Contact</button><br/><br/>-->
  <table class="table table-striped">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Notice</th>
      <th>eZine</th>
      <th>Group</th>
      <th>Operations</th>
    </tr>

        <tr ng-repeat="c in contacts">
          <td><input type="text" ng-model="c.name" class="span1"></td>
          <td><input type="text" ng-model="c.email" class="span2"></td>
          <th>
            <input id="notifications_{{c.id}}" type="checkbox" ng-model="c.notifications"
                   ng-change="updateContact(c)"><br/>
          </th>
          <th>
            <input id="ezine_{{c.id}}" type="checkbox" ng-model="c.ezine"
                   ng-change="updateContact(c)"><br/>
          </th>
          <th>
            <input type="text" ng-model="c.group" class="span1">
          </th>
          <th>
            <a data-confirm="Are you sure?" ng-click="deleteContact(c)" title="delete contact"
               id=delete_{{c.id}}><i class='icon-trash icon-large'></i></a>

            &nbsp;&nbsp;&nbsp;

            <a ng-click="updateContact(c)" title="save contact"
               id=save_{{c.id}}><i class='icon-save icon-large'></i></a>

          </th>
        </tr>

  </table>

  <br/>
</div>