<p class="home_page_body">
  <span class='home_bold_text'>You Have An Acidic Body</span><br/>
  Our bodies are alkaline by design and acidic by function.  They run best when kept alkaline at 7.325 pH.
  I'll teach you how to obtain and maintain a healthy pH for your body and enjoy the process.

  <br/>
</p>
