<div class='different_title'>My Coaching Philosophy</div>

<div class='different_text'>
  <p>
  I have had the wonderful experience of working wtih some amazing coaches in my life.  These coaches have helped me
  through severe health and life challenges.  They offered me tools, knowledge, experience and advice that has
  allowed me to turn my health and life around to the Beautiful Life I have today.
  </p>

  <p>
It makes so much sense to use for athletes to have a coach, yet we discount the need for a coach
when it comes to our health or our life...  When our life is <strong><i>everything</i></strong>!
  It makes the most sense to me
to have a coach work with me who has 'been there and done that'.  My life has not been perfect but I
have made it as as beautiful as ever, despite it all!  I have worked through abandonment issues,
drug abuse, grief issues, trauma issues, and severe health issues.  I have had 18 surgeries and have been
diagnosed and labeled by Doctors with Chronic Fatigue, Fibromyalgia, and Addissons.  I will
relate to your life and health issues.  Above all, I can show you that you are not alone.  Then I will
teach you how you too can get healthy, feel energetic, fit into your high school size jeans, sleep like a baby,
and live a Beautiful Life!
</p>

<p>
Coaching with me is easy.  We set a schedule that best meets your needs.  Get in contact with me
for any and all questions.  Let's get started!
</p>

<a href="#contactsModal" role="button" class="btn btn-success"
   data-toggle="modal">Hire Me!</a>

</div>