<h1>Contact Us</h1>

<h3>Healthy Habits Utah</h3>
<strong>Cathy Maxwell</strong>   <br/>
Draper, Utah 84020             <br/>
(801) 651-3452                <br/>
email:  <a href="mailto:healthyhabitsutah@gmail.com">healthyhabitsutah@gmail.com</a><br/>
<br/><br/>

<a href="WWW.HealthyHabitsUtah.com">Visit my website</a>