<div class='different_title'>What Makes Me Different?</div>

<br/><br/><br/>
<div class="highlight_text">
  I specialize in working with dynamic spiritually-minded clients.
</div>
<img src="/assets/cathy_headshot_1.jpg" class="different_picture" align="right"/>



<p class="different_text">
  I know from personal experience that getting "healthy" is not just about dieting or
  counting calories. I've struggled with food and body drama, anorexia in particular,
  and finally received treatment for that in 1993. I know how painful the body image demons
  can be. Being healthy is truly about a lifestyle change and making healthy choices. It is
  about feeding our bodies the right kind of nutrition from the proper sources. It is about
  the dozens of day to day choices that we make often unconsciously. Bringing these choices
  into consciousness, your world and your health are set free.
</p>
<br/>
<p class="different_text">I offer one on one coaching and 14 day group cleanses that detoxify your body.
  Detoxifying your body is the best way to set it up for success. Often clients will
  shed a pound a day on this cleanse and have lots of fun with the group doing it!
  I also offer Nutritional Microscopy. This is a wonderful
  tool that allows you to see the quality of your red blood cells under a high
  powered microscope. This is where I believe everyone should begin.
  You are only as healthy as your blood.

<div class="highlight_text">Unlike diets and quick fixes,
  I will teach you to listen to your body: Honor, Trust and Respect what you hear,
  and take <i>Unwavering Action</i> to reach your goals and succeed.
</div>
</p>

<br/>
<p>
<h3>If you're ready to get stared living your ultimate life,
  <a href="#contactsModal" role="button" class="btn btn-success"
     data-toggle="modal">Click Here</a>
  so I can contact you right away!</h3>     <br/><br/>

</p>
