
<style>
    #health_event {
        height:205px;
        background-repeat: no-repeat;
        background-position: right center;
        background-image: url('/assets/health_event.jpg');
    }
</style>

<div class='hero-unit'>

   <h4>Stay tuned for future events!</h4>

</div>