
<style>
    #health_event {
        height:205px;
        background-repeat: no-repeat;
        background-position: right center;
        background-image: url('/assets/health_event.jpg');
    }
</style>

<div class='hero-unit'>

  <div class="row">
    <div class="span7">
      <h2>Cathy will be at this upcoming event. Come join us if you're in the area!</h2>
    </div>
  </div>
  <div class="row">
    <div class="span7">
        <div id="health_event"></div>
      <%= link_to "click here for more info...", "http://www.health-healing-happiness.com/" %>
    </div>
  </div>
</div>