<br/>
<p>
<div class='well home_header_section'>
  <strong>Attention:</strong> Looking to serve women and men of all ages who want to look and feel <i>amazing</i> in your body so that you can confidently pursue your dreams and make your contribution to the world!
</div>
</p>
<br/>

<div >
<p class="home_page_top_section">
  I’m excited to show you how I can help you Transform your Health and Life with my Expertise in Nutritional Microscopy (Blood Analysis), 14 day Group Cleanses and Individual Coaching.
</p>
  <br/>

  <p class="home_page_body">
  <span class='home_bold_text'>Nutritional Microscopy</span>, also known as Live Blood Analysis, is an amazing scientific tool which allows you to see a drop of your blood taken from the end of your fingertip, under a high powered microscope. I am able to project this onto a video screen for you to see your live blood cells and plasma.   Among the phenomenon observed are level of acidity in the body fluids and their effects on the body, presence of parasites, bacteria, yeast, fungus and mold. Cholesterol, general organ stress, blood sugar imbalances, and much more. For a complete description of Microscopy and photos of healthy and unhealthy blood click on the link provided.

  <%= link_to "Read More...", "/pages/microscopy", :class=>'btn btn-small btn-primary link_white pull-right' %>
</p>
<br/> <br/>
  <p class="home_page_body">
  <span class='home_bold_text'>14 day Group Cleanses</span>.  This cleanse will reset buttons on everything in your life! This unique cleanse will guide you through a trans-dimensional experience that is profoundly detoxifying and rejuvenating to the body. The healing process takes place on many levels-physical, mental, emotional and spiritual – with the support of juices, shakes, soups, raw organic food, visualization, journaling, deep breathing, salt baths, saunas, and yoga. Increased alkalinity, cleaner blood and increased blood volume are just some of the perks on this cleanse. For a complete description of the Cleanse click on the link provided.


</p>
  <br/><br/><br/> <br/><br/>

  <p class="home_page_body">
  <span class='home_bold_text'>Individual Coaching</span>.

  </p>
  <br/><br/> <br/> <br/>
  <p class='home_standout'>
  Work with me today and let’s get you immediately on the fast track to creating the body and life you adore.
    <br/><br/>
    <%= image_tag "heart_only_logo.gif", class: "testimony_heart" %><%= image_tag "signature.gif", class: "signature" %>
</p>
  <br/><br/><br/><br/>
    </div>