<div class='different_title'>Is This You?</div>

<br/>

<div class="different_text">
  <p>
  If you have found yourself on this page, chances are you are like many of my clients: You're bright, have been
  successful in life, with friends, careers and relationships.
  What you're NOT so successful or satisfied with is your Health and Well-Being.
  </p>
  <p>
    You want to be able to accomplish more in your day and not be so darn worn out at the end of it.
    You want to be able to enjoy the weekends and not just
    use them to “recuperate” from the week. You may be “in shape”, but you lack energy and vitality.
    You may be overweight and have tried every “diet” on the planet but the acidic pounds won’t budge.
  </p>
  <p>
    For you, something Big is missing. The “something” that’s missing in your life is having an Alkaline Body,
    understanding how to attain that, and having someone in your corner to explain and walk you through the process.
  </p>
  <p>
  You are meant to be vital and full of energy! You are meant to share your gifts with the world. I am here to
  help as many women and men as I can so that they can live their best life possible.
  </p>

  <strong>My clients are committed to the core, and are willing to invest what it takes to:</strong>
  <ul>
    <li>
      Increase their Energy and Vitality and be able to keep up with their responsibilities
    </li>
    <li>
      Restore their health and work on clearing up chronic illness
    </li>
    <li>
      Put themselves on the top of their to do list
    </li>
    <li>
      Get into yoga; enjoy an infrared sauna or another form of exercise that works for them
    </li>
    <li>
      Take care of themselves instead of spending all of their time working or taking care of everybody else
    </li>
    <li>
      Adopt the healthy eating style you've always wanted to so that you feel and look amazing all of the time
    </li>
  </ul>
  <br/>
     <p>
       You are ready for a huge transformation of mind, body, and soul!

       You're motivated to succeed with finally figuring out your
       ￼body so that you can manifest all that you desire.

       Although you're used to getting things done on your own,
       you realize that you can be so much more successful if
       you have the right support and accountability.

       You
       understand that every successful person has a coach or a
       mentor who is 10 steps ahead of them leading the way.
     </p>


</div>




