<div class='different_title'>Is This You?</div>

<br/>

<p class="different_text">

  If you have found yourself on this page, chances are you are like the rest of my clients.  You're bright,
  have been successful in life - successful with friends, your careers and relationships.  What you're NOT
  so successful with is your body food relationship and your Health.  You are very driven, ambitious,
  focused, and successful and enjoy a lot of benefits in life.  But for you, somthing big is missing.
  <br/>
  The "something" that's missing in your life centers around figuring out your own body.
  <br/>
  You realize you need to change in order to blossom into your fullest and highest potential in body, mind
  and health so that you can confidently share your gifts and talents with the world.
  <br/><br/>
  <strong>My clients are committed to the core, and are willing to invest whatever it takes to:</strong><br/>
  <ul>
    <li>
      Get your BEST body in a way that's easy and doable
    </li>
    <li>
      Completely let go of your body image issues forever and feel good in the skin you're in
    </li>
    <li>
      Put yourself on the top of your to do list
    </li>
    <li>
      Take care of yourself instead of spending all your time working or taking care of everybody else
    </li>
    <li>
      Enjoy your dream lifestyle involving fun, balance and freedom
    </li>
    <li>
      Adopt the healthy eating style you've always wanted to so that you feel and look amazing all of the time
    </li>
    <li>
      Get into yoga or another form of exercise that works for you
    </li>
    <li>
      End the battle your relationship with food involves and release all food and body dramas
    </li>
  </ul>

<br/><br/>
  You are ready for a huge transformation of mind, body, and soul!
<br/><br/>
  You're motivated to succeed with finally figuring out your body so that you can manifest all that you desire.
<br/><br/>
  Although you're used to getting things done on your own, you realize that you can be so much more successful
  i fyou have the right support and accountability.  you understand that every successful person has a coach or
  a mentor who is 10 steps ahead of them leading the way.
</p>