<div class='different_title'>Meet Cathy, your Healthy Lifestyles Coach</div>

<br/>

<img src="/assets/cathy_headshot_2.jpg" class="different_picture" align="left"/>

<p class="different_text">
  <br/>
  Cathy is a passionate woman, wife, mom, yogi, entrepreneur, and adventurer.  After spending decades
  climbing the corporate ladder in the airline and mortgage business, Cathy jumped off the proverbial
  cliff and returned to her long rooted desires and love as a health and lifestyle coach to gutsy Women
  and Men.  Cathy is an expert who inspires others to take their health to the next level and to align
  their lives so that they may "Thrive".  She is a certified pH Miracle Health Coach and combines Nutritional
  Live Blood Analysis (one who studies blood under a high powered microscope) with her health practice.
  She has studied at Anthony Robbins Master University and has been trained in the Art of Reiki and the
  Oneness Blessing.
</p>

