/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap_and_overrides
 *= require_tree .
*/

.content {
  background-color: #eee;
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

#main {
  position: relative;
  margin-left: 20px;
  top: -80px;
}


.body_general {
  background-color: white;
}



.footer {
  position: fixed;
  bottom: 0px;
  padding-left:15px;
  padding-right: 15px;
  //background-color: #3641c4;
  padding-top:5px;
  padding-bottom: 5px;
  width: 100%;
  height: 35px;

  background-image: linear-gradient(top, rgb(32,98,230) 19%, rgb(117,152,235) 60%, rgb(194,194,237) 80%);
  background-image: -o-linear-gradient(top, rgb(32,98,230) 19%, rgb(117,152,235) 60%, rgb(194,194,237) 80%);
  background-image: -moz-linear-gradient(top, rgb(32,98,230) 19%, rgb(117,152,235) 60%, rgb(194,194,237) 80%);
  background-image: -webkit-linear-gradient(top, rgb(32,98,230) 19%, rgb(117,152,235) 60%, rgb(194,194,237) 80%);
  background-image: -ms-linear-gradient(top, rgb(32,98,230) 19%, rgb(117,152,235) 60%, rgb(194,194,237) 80%);

  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0.19, rgb(32,98,230)),
      color-stop(0.6, rgb(117,152,235)),
      color-stop(0.8, rgb(194,194,237))
  );
}




.footer_text, a.footer_text {
  color: white !important;
}

.alert {
  position: fixed;
  top: 50px;
  left: 75px;
  width: 600px;
}

.navbar-fixed-top .navbar-inner, .navbar-fixed-bottom .navbar-inner {
  padding: 0px !important;
}

