// Place all the styles related to the Contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.signup_box {
  background: #95d31a;
  border-radius: 15px;
}


.signup_boxtop {
  /*background: url(negrn.gif) no-repeat top right;*/

}
.signup_boxtop div {
  font-size: 0;
  height: 10px;
  /*background: url(nwgrn.gif) no-repeat top left;*/
}
.signup_boxbottom {
  /*background: url(segrn.gif) no-repeat bottom right;*/
}
.signup_boxbottom div {
  font-size: 0;
  height: 10px;
  /*background: url(swgrn.gif) no-repeat bottom left;*/
}
.signup_boxcontent {
  padding: 0px 10px 0px 10px;
  color: #000000;
}

.contact_field {
  width: 150px;
}

div.signup_section h3 {
  text-align: center !important;
}

