/*.top_menu {*/
    /*background-color: #f9e743 !important;*/
/*}*/
/*
.side_border {
border-right: 1px solid;
}


*/

#error_explanation {
    background-color: pink;
}

.user_nav_name {
    padding-top: 10px;
}

li.active {
    font-weight: bold;
}

.center_input {
    margin-right:10px !important;
    margin-left: 10px !important;
}

.bottom_menu {
    padding-top: 15px;
    background-color: #c70082 !important;
}

.footer_invisible {
    color: #c70082 !important;
}

.footer_text, a.footer_text {
    color: white !important;
}

.body_general {
    background-color: #460e61;
}



.signup_box {
    background: #95d31a;
    border-radius: 15px;
}


.signup_boxtop {
    /*background: url(negrn.gif) no-repeat top right;*/

}
.signup_boxtop div {
    font-size: 0;
    height: 10px;
    /*background: url(nwgrn.gif) no-repeat top left;*/
}
.signup_boxbottom {
    /*background: url(segrn.gif) no-repeat bottom right;*/
}
.signup_boxbottom div {
    font-size: 0;
    height: 10px;
    /*background: url(swgrn.gif) no-repeat bottom left;*/
}
.signup_boxcontent {
    padding: 0px 10px 0px 10px;
    color: #000000;
}



.testimony_box {
    background: #d3d3d3;
    border-radius: 15px;
}
.testimony_boxtop {
    /*background: url(ne.gif) no-repeat top right;*/
}
.testimony_boxtop div {
    font-size: 0;
    height: 10px;
    /*background: url(nw.gif) no-repeat top left;*/
}
.testimony_boxbottom {
    /*background: url(se.gif) no-repeat bottom right;*/
}
.testimony_boxbottom div {
    font-size: 0;
    height: 10px;
    /*background: url(sw.gif) no-repeat bottom left;*/
}
.testimony_boxcontent {
    padding: 0px 10px 0px 10px;
    color: #000000;
}

.testimonial_name {
    font-weight: bold !important;
    float: right !important;
    font-family: 'comic sans ms' !important;
}

.testimonial_section {
    font-family: 'comic sans ms' !important;
}

div.testimonial_section h3 {
    text-align: center !important;
}




/**/

.content_box {
    cols: 80;
}

.page_body {
    padding-left: 10px;
    padding-right: 10px;
}

.main_page_body {
    position:relative;
    height: 100%;
    color: white;
}

.side_section {
    position:absolute;
    top:0;
    right:0;
    color: white;
}

.main_section {
    position: absolute;
    top: 0;
    left: 0;
    background-color: purple;
    border-radius: 15px;
    padding: 10px;
}

.top_banner {
    background-color: #460e61 ;
    color: white;
    font-weight: bold;
    text-align: center;
}



.content {
    margin-top: 50px;
    margin-bottom: 500px !important;
    background-color: transparent !important;
}

