.author_section {
  float: right;
  font-size: 10px;
  padding-right: 100px;
}

.title_section {
  text-align: center;
  font-size: 72px;
  line-height: 150%;
}

.title_number {
  color: black;
}

.title_secrets {
  color: blue;
  font-family:"Arial Rounded MT Bold";
}

.title_to_a {
  color: black;
}

.title_healthier {
  color: #943634;
  font-family:Herculanum;
}

.title_sexier {
  color: #DA1CE0;
  font-family: "Lucida Calligraphy";
}

.title_spring {
  font-family:Chalkduster;
  color:#15A89D;
}

.title_body {
  font-family: Optima;
  color:green;
}