// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.home_future_offers {
  color: black;
  font-size: 20px;
  line-height: 120%;
  text-align: center;
}