// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.home_bold_text {
  font-weight: bold;
  color: black;
}

.signature {
  height: 90px;
}

.home_header_section {
  font-size: 18px;
  color: navy;
  background-color: #ffdc73;
  line-height: 150%;
}

.home_page_body {
  font-size: 18px;
  line-height: 150%;
}

.home_standout {
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  color: #d31089;
  font-size: 28px;
  line-height: 28px;
  text-align: center;
}

.home_page_top_section {
  font-size: 18px;
  line-height: 150%;
  color: #1b1bb3;
  font-weight: bold;
}

#error_explanation {
  background-color: pink;
}

.user_nav_name {
  padding-top: 10px;
}

li.active {
  font-weight: bold;
}

.link_white {
  color: white !important;
}

.center_input {
  margin-right:10px !important;
  margin-left: 10px !important;
}

//.bottom_menu {
//  padding-top: 15px;
//  background-color: #c70082 !important;
//}

.footer_invisible {
  color: #c70082 !important;
}





/**/

.content_box {
  cols: 80;
}

.page_body {
  padding-left: 10px;
  padding-right: 10px;
}

.main_page_body {
  position:relative;
  height: 100%;
  color: #5d5d5d;
}

.side_section {
  position:relative;
  top: 100px;
  left: 0px;
  color: white;
}

.main_section {
  position: relative;
  top: 115px;
  left: 0;
  background-color: white;
  border-radius: 15px;
  padding-left: 10px;
  width: 750px;
}


.content {
  //margin-top: 50px;
  //margin-bottom: 500px !important;
  background-color: transparent !important;
}

