// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#error_explanation {
  background-color: pink;
}

.user_nav_name {
  padding-top: 10px;
}

li.active {
  font-weight: bold;
}

.center_input {
  margin-right:10px !important;
  margin-left: 10px !important;
}

//.bottom_menu {
//  padding-top: 15px;
//  background-color: #c70082 !important;
//}

.footer_invisible {
  color: #c70082 !important;
}





/**/

.content_box {
  cols: 80;
}

.page_body {
  padding-left: 10px;
  padding-right: 10px;
}

.main_page_body {
  position:relative;
  height: 100%;
  color: #5d5d5d;
}

.side_section {
  position:relative;
  top: -70px;
  left: 0px;
  color: white;
}

.main_section {
  position: relative;
  top: -50px;
  left: 0;
  background-color: white;
  border-radius: 15px;
  padding-left: 10px;
  width: 750px;
}


.content {
  //margin-top: 50px;
  //margin-bottom: 500px !important;
  background-color: transparent !important;
}

