.social_connections_img {
  width: 50px;
  delay: 200;
}
.social_connections {
  text-align: center;
  border: 4px;
  border-style: outset;
  border-color: darkgray;
  width: 100%;
  color: blue;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 10px;
  border-radius: 15%;
  background-color: #e8e8e8;
}