.different_title {
  font-size: 42px;
  font-weight: bold;
  color: blue;
  text-align: center;
  padding-top: 20px;
  line-height: 150%;
}

.different_text {
  line-height: 250%;
  padding-right: 15px;
  padding-left: 15px;
  font-family: verdana;
  font-size: 18px;
}

.different_text p {
  text-indent: 2em;
  font-family: verdana;
  font-size: 18px;
  line-height: 175%;
}

.different_text li {
  font-family: verdana;
  font-size: 18px;
  line-height: 175%;
  margin-left: 2em;
  padding-left: 5px;
}

.different_picture {
  padding: 20px;
  height: 300px;
}

.highlight_text {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  line-height: 225%;
}

