// Place all the styles related to the Testimonials controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.testimony_box {
  background: #d3d3d3;
  border-radius: 15px;
}
.testimony_boxtop {
  /*background: url(ne.gif) no-repeat top right;*/
}
.testimony_boxtop div {
  font-size: 0;
  height: 10px;
  /*background: url(nw.gif) no-repeat top left;*/
}
.testimony_boxbottom {
  /*background: url(se.gif) no-repeat bottom right;*/
}
.testimony_boxbottom div {
  font-size: 0;
  height: 10px;
  /*background: url(sw.gif) no-repeat bottom left;*/
}
.testimony_boxcontent {
  padding: 0px 10px 0px 10px;
  color: #000000;
}

.testimonial_name {
  font-weight: bold !important;
  float: right !important;
  font-family: 'comic sans ms' !important;
}

.testimonial_section {
  font-family: 'comic sans ms' !important;
}

div.testimonial_section h3 {
  text-align: center !important;
}


