// Place all the styles related to the Testimonials controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.testimony_box {
  background: #d3d3d3;
  border-radius: 15px;
  margin-left:5px;
  width: 300px;
}


.testimony_boxcontent {
  padding: 0px 10px 0px 10px;
  color: #000000;
  margin-right: 10px;
}

.testimonial_name {
  font-weight: bold !important;
  float: right !important;
  font-family: 'comic sans ms' !important;
}

.testimonial_section {
  font-family: 'comic sans ms' !important;
}


