.signup_box {
  padding-top: 2px;
  padding-bottom: 2px;
  background: #e9e9e9;
  //border-radius: 15px;
  width: 30em;
  border: 4px;
  border-style: outset;
  position: relative;
  left: 700px;
  top: -240px;
}

.top_banner_main {
  background-image: url('/assets/maui_beach.jpg');
  background-repeat:no-repeat;
  background-size:100% 310px;
  position: relative;
  top: 32px;
  height: 280px;
}

.contact_btn {
  margin-bottom: 11px !important;
  margin-right: 50px;
}

.contact_inputs {
  padding-left: 50px;
}

.signup_boxcontent {
  padding-left: 10px;
  color: #000000;
  font-size: 10px;
}

.contact_field {
  width: 100px;
  font-size: 10px !important;
}

.email_contact_field {
  width: 200px;
  font-size: 10px !important;
}

.signup_image {
  float:left;
  padding-right: 20px;
}

.signup_header{
  text-align: center;
  background-color: #7373D9;
  margin-left: -10px;
  margin-top:-2px;
  height: 65px;
  padding: 10px;
  font-size: 18px;
}

.my_banner_logo {
  width: 350px;
  position: relative;
  top: -50px;
  left: 100px;
}

.my_banner_image {
  position: relative;
  top: 10px;
  left: 95px;
  //width: 175px;
  height: 270px;
}

.banner_name_img {
  position: absolute;
  top: 130px;
  height: 130px;
  left: 100px;
}
