.signup_box {
  padding-top: 2px;
  padding-bottom: 2px;
  background: #e9e9e9;
  //border-radius: 15px;
  position: relative;
  left: 700px;
  top: -200px;
  width: 35em;
  border: 4px;
  border-style: outset;
}

.contact_btn {
  margin-bottom: 9px !important;
}

.contact_inputs {
  padding-left: 50px;
}

.signup_boxcontent {
  padding-left: 10px;
  color: #000000;
  font-size: 10px;
}

.contact_field {
  width: 100px;
  font-size: 10px !important;
}

.signup_image {
  float:left;
  padding-right: 20px;
}

.signup_header{
  text-align: center;
  background-color: #7373D9;
  margin-left: -10px;
  margin-top:-2px;
  height: 60px;
  padding: 10px;
  font-size: 18px;
}

.my_banner_logo {
  width: 350px;
  position: relative;
  top: 0px;
  left: 100px;
}

.my_banner_image {
  position: relative;
  top: 45px;
  left: 95px;
  width: 175px;
}
