<div class="row">
  <div class="footer">

    <div class="footer_text span4">Copyright 2013 Healthy Habits LLC</div>

    <div class="span2"><%= link_to "Privacy Policy", "/pages/privacy", :class => "footer_text", :id => "privacy_menu" %></div>
    <div class="span1"><%= link_to "Disclaimer", "/pages/disclaimer", :class => "footer_text", :id => "disclaimer_menu" %>    </div>
    <div class="span3"><%= link_to "Refund & Return Policy", "/pages/refund", :class => "footer_text", :id => "return_menu" %>    </div>
    <div class="span2"><%= link_to "Agreement Form", "/docs/terms_of_agreement.docx", :class => "footer_text", :id => "terms_doc" %>  </div>
  </div>
</div>