<div class="row-fluid">
  <div class="span4 footer_text">Copyright 2013 Healthy Habits LLC</div>
  <div class="span2 "><%= link_to "Privacy Policy", "/pages/privacy", :class => "footer_text", :id => "privacy_menu" %></div>
  <div class="span2 "><%= link_to "Disclaimer", "/pages/disclaimer", :class => "footer_text", :id => "disclaimer_menu" %></div>
  <% if true == false %>
      <div class="span2 "><%= link_to "Return Policy", "#", :class => "footer_text", :id => "return_menu" %></div>
      <div class="span2 "><%= link_to "Giving Back", "#", :class => "footer_text", :id => "giving_menu" %></div>
  <% end %>
</div>
