
<div class="testimonial_section">
  <h3>Testimonials</h3>

  <div class='testimony_box'>
    <div class='testimony_boxtop'>
      <div></div>
    </div>
    <div class='testimony_boxcontent'>
      <ul>
        <% arr = Testimonial.all
           testimonial = arr[rand(arr.length)]
           unless testimonial.nil?
        %>
            <li class="testimonial_section">
              <%= testimonial.comment %> <br/>
              <span class="testimonial_name">- <%= testimonial.name %><br/>&nbsp;&nbsp;<%= testimonial.date %> </span>
              <br/><br/>
              <br/>
            </li>
        <% end %>
      </ul>
    </div>
    <div class='testimony_boxbottom'>
      <div></div>
    </div>
  </div>


</div>

