<% if params[:controller] != "devise/sessions" %>
    <% if request.env["PATH_INFO"] != '/special_offer' %>
        <br/><br/><br/><br/><br/><br/>
        <div class='signup_box'>
          <div class='signup_boxcontent'>
            <div class="signup_header">
              Click &nbsp;

              <a href="#contactsModal" role="button" class="btn btn-success btn-small"
                             data-toggle="modal">Here</a>&nbsp;

              to Sign up for my eZine <i>"Thrive"</i> & Special Report:<br/>
              <strong>"<%= HealthyHabits::REPORT_NAME.html_safe %>"</strong> <br/>
            </div>
          </div>
        </div>
        <br/>
    <% end %>
<% end %>