
<div class="top_banner_main">
<%= image_tag "hh_logo1.png", :class => "my_banner_logo" %>
<%= image_tag "banner_logo.gif", :class => "banner_name_img" %>
<%= image_tag "cathy_banner_2.gif", :class => "my_banner_image" %>

</div>



